.pu-menu {
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  text-align: left;
  background-color: #eaf1f6;
  > li {
    border-bottom: 1px solid #ababab;
    background: #a8c3e9;
    &.is-opened {
      background: rgba(168, 195, 233, 0.6);
    }
  }
}
.pu-menu::after,
.pu-menu::before {
  display: table;
  content: "";
}
.pu-menu::after {
  clear: both;
}
.pu-menu-item,
.pu-submenu__title {
  height: 38px;
  line-height: 38px;
  list-style: none;
  position: relative;
  white-space: nowrap;
}
.pu-menu-item {
  font-size: 12px;
  color: #333333;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pu-menu-item * {
  vertical-align: middle;
}
.pu-menu-item i {
  color: #000000;
}
.pu-menu-item:focus,
.pu-menu-item:hover {
  outline: 0;
  // background-color: rgba(168,195,233,.6);
}
.pu-menu-item [class^="el-icon-"] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.pu-menu-item.is-active {
  color: #16428b;
  background: rgba(22, 66, 139, 0.15);
}
.pu-menu-item.is-active i {
  color: inherit;
}
.pu-submenu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  .pu-menu {
    > li {
      border-bottom: none;
      color: #999;
      background: #eaf1f6;
    }
    .pu-menu-item.is-active {
      color: #16428b;
      background: rgba(22, 66, 139, 0.15);
    }
    .pu-submenu.is-opened > .pu-submenu__title{
      color: #16428B;
    }
  }
}
.collapse-transition {
  -webkit-transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out,
    0.3s padding-bottom ease-in-out;
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out,
    0.3s padding-bottom ease-in-out;
}
.pu-submenu__title {
  font-size: 12px;
  color: #303133;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pu-submenu__title * {
  vertical-align: middle;
}
.pu-submenu__title i {
  color: #000;
}
.pu-submenu__title:focus,
.pu-submenu__title:hover {
  outline: 0;
  // background-color: #ecf5ff;
}
.pu-submenu .pu-menu-item {
  height: 38px;
  line-height: 38px;
}
.pu-submenu__icon-arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  font-size: 12px;
}
.pu-submenu.is-active .pu-submenu__title {
  border-bottom-color: #409eff;
}
.pu-submenu.is-opened > .pu-submenu__title .pu-submenu__icon-arrow {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.pu-submenu [class^="el-icon-"] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}