@charset "UTF-8";
html {
  font-size: 46.875px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 16rem;
  margin: 0 auto;
  font-family: Arial, "微软雅黑", sans-serif;
  font-size: 0.59733rem;
  background-color: #f5f5f5;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* flex 比例 */
/* 子盒子对其方式 */
/* 两端对齐 */
/*扩展点击域*/
/*不换行*/
/*icon*/
@font-face {
  font-family: 'music-icon';
  src: url("./common/fonts/music-icon.eot?2qevqt");
  src: url("./commonfonts/music-icon.eot?2qevqt#iefix") format("embedded-opentype"), url("./common/fonts/music-icon.ttf?2qevqt") format("truetype"), url("./common/fonts/music-icon.woff?2qevqt") format("woff"), url("./common/fonts/music-icon.svg?2qevqt#music-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "music-icon" !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #d8d8d8;
  cursor: pointer;
}

.icon-ok:before {
  content: "\e900";
}

.icon-close:before {
  content: "\e901";
}

.icon-add:before {
  content: "\e902";
}

.icon-play-mini:before {
  content: "\e903";
}

.icon-playlist:before {
  content: "\e904";
}

.icon-music:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-clear:before {
  content: "\e907";
}

.icon-delete:before {
  content: "\e908";
}

.icon-favorite:before {
  content: "\e909";
}

.icon-not-favorite:before {
  content: "\e90a";
}

.icon-pause:before {
  content: "\e90b";
}

.icon-play:before {
  content: "\e90c";
}

.icon-prev:before {
  content: "\e90d";
}

.icon-loop:before {
  content: "\e90e";
}

.icon-sequence:before {
  content: "\e90f";
}

.icon-random:before {
  content: "\e910";
}

.icon-back:before {
  content: "\e911";
}

.icon-mine:before {
  content: "\e912";
}

.icon-next:before {
  content: "\e913";
}

.icon-dismiss:before {
  content: "\e914";
}

.icon-pause-mini:before {
  content: "\e915";
}

/*m-header*/
.m-header {
  position: relative;
  height: 1.87733rem;
  padding-left: 0.42667rem;
  text-align: center;
  color: #ffcd32;
  font-size: 0.68267rem;
}

.m-header .icon {
  width: 1.28rem;
  font-size: 0.85333rem;
  margin-right: 0.42667rem;
}

/*add-song*/
.add-song {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
  background: #222;
}

.add-song.slide-enter-active, .add-song.slide-leave-active {
  transition: all .3s;
}

.add-song.slide-enter, .add-song.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

.add-song .header {
  position: relative;
  height: 1.87733rem;
  text-align: center;
}

.add-song .header .title {
  line-height: 1.87733rem;
  font-size: 0.768rem;
  color: #fff;
}

.add-song .header .close {
  position: absolute;
  top: 0;
  right: 0.34133rem;
}

.add-song .header .close .icon-close {
  display: block;
  padding: 0.512rem;
  font-size: 0.85333rem;
  color: #ffcd32;
}

.add-song .search-box-wrapper {
  margin: 0.85333rem;
}

.add-song .shortcut .list-wrapper {
  position: absolute;
  top: 7.04rem;
  bottom: 0;
  width: 100%;
}

.add-song .shortcut .list-wrapper .list-scroll {
  height: 100%;
  overflow: hidden;
}

.add-song .shortcut .list-wrapper .list-inner {
  padding: 0.85333rem 1.28rem;
}

.add-song .search-result {
  position: fixed;
  top: 5.29067rem;
  bottom: 0;
  width: 100%;
}

.add-song .tip-title {
  padding: 0.768rem;
  text-align: center;
}

.add-song .tip-title .icon-ok {
  margin-right: 0.17067rem;
  font-size: 0.59733rem;
  color: #ffcd32;
}

.add-song .tip-title .text {
  font-size: 0.59733rem;
  color: #fff;
}

/*disc*/
.slide-enter-active,
.slide-leave-active {
  transition: all .3s;
}

.slide-enter,
.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

/*music-list*/
.music-list {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: #222;
}

.music-list .back {
  position: absolute;
  top: 0;
  left: 0.256rem;
  z-index: 50;
}

.music-list .back .icon-back {
  display: block;
  padding: 0.42667rem;
  font-size: 0.93867rem;
  color: #ffcd32;
}

.music-list .title {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 40;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 1.70667rem;
  font-size: 0.768rem;
  color: #fff;
}

.music-list .bg-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 70%;
  transform-origin: top;
  background-size: cover;
}

.music-list .bg-image .play-wrapper {
  position: absolute;
  bottom: 0.85333rem;
  z-index: 50;
  width: 100%;
}

.music-list .bg-image .play-wrapper .play {
  width: 5.76rem;
  padding: 0.29867rem 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ffcd32;
  border-radius: 4.26667rem;
  color: #ffcd32;
}

.music-list .bg-image .play-wrapper .icon-play {
  margin-right: 0.256rem;
  font-size: 0.68267rem;
}

.music-list .bg-image .play-wrapper .text {
  font-size: 0.512rem;
}

.music-list .bg-image .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 17, 27, 0.4);
}

.music-list .bg-layer {
  position: relative;
  height: 100%;
  background: #222;
}

.music-list .list {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #222;
}

.music-list .list .song-list-wrapper {
  padding: 0.85333rem 1.28rem;
}

.music-list .list .loading-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

/*player*/
.normal-player {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 150;
  background: #222;
}

.normal-player .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  filter: blur(20px);
}

.normal-player .top {
  position: relative;
  margin-bottom: 1.06667rem;
}

.normal-player .top .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.normal-player .top .icon-back {
  display: block;
  padding: 0.384rem;
  font-size: 0.93867rem;
  color: #ffcd32;
  transform: rotate(-90deg);
}

.normal-player .top .title {
  margin: 0 auto;
  width: 70%;
  line-height: 1.70667rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.768rem;
  color: #fff;
}

.normal-player .top .subtitle {
  line-height: 0.85333rem;
  text-align: center;
  font-size: 0.59733rem;
  color: #fff;
}

.normal-player .middle {
  position: fixed;
  top: 3.41333rem;
  bottom: 7.25333rem;
  width: 100%;
  white-space: nowrap;
}

.normal-player .middle .middle-l {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 80%;
}

.normal-player .middle .middle-l .cd-wrapper {
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  height: 100%;
}

.normal-player .middle .middle-l .cd {
  width: 100%;
  height: 100%;
  border: 0.42667rem solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.normal-player .middle .middle-l .cd.play {
  animation: rotate 5s linear infinite;
}

.normal-player .middle .middle-l .cd.pause {
  animation-play-state: paused;
}

.normal-player .middle .middle-l .cd .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.normal-player .middle .middle-l .playing-lyric-wrapper {
  margin: 1.28rem auto 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.normal-player .middle .middle-l .playing-lyric {
  height: 0.85333rem;
  line-height: 0.85333rem;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.5);
}

.normal-player .middle .middle-r {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.normal-player .middle .middle-r .lyric-wrapper {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  text-align: center;
}

.normal-player .middle .middle-r .text {
  line-height: 1.36533rem;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.5);
}

.normal-player .middle .middle-r .text.current {
  color: #fff;
}

.normal-player .bottom {
  position: absolute;
  bottom: 2.13333rem;
  width: 100%;
}

.normal-player .bottom .dot-wrapper {
  text-align: center;
}

.normal-player .bottom .dot-wrapper .dot {
  margin: 0 0.17067rem;
  width: 0.34133rem;
  height: 0.34133rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.normal-player .bottom .dot-wrapper .dot.active {
  width: 0.85333rem;
  border-radius: 0.21333rem;
  background: rgba(255, 255, 255, 0.8);
}

.normal-player .bottom .progress-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0.42667rem 0;
  width: 80%;
}

.normal-player .bottom .progress-wrapper .time {
  color: #fff;
  font-size: 0.512rem;
  flex: 0 0 1.28rem;
  line-height: 1.28rem;
  width: 1.28rem;
}

.normal-player .bottom .progress-wrapper .time.time-l {
  text-align: left;
}

.normal-player .bottom .progress-wrapper .time.time-r {
  text-align: right;
}

.normal-player .bottom .progress-wrapper .progress-bar-wrapper {
  flex: 1;
}

.normal-player .bottom .operators {
  display: flex;
  align-items: center;
}

.normal-player .bottom .operators .icon {
  flex: 1;
  color: #ffcd32;
}

.normal-player .bottom .operators .icon.disable {
  color: rgba(255, 205, 49, 0.5);
}

.normal-player .bottom .operators .icon i {
  font-size: 1.28rem;
}

.normal-player .bottom .operators .i-left {
  text-align: right;
}

.normal-player .bottom .operators .i-center {
  padding: 0 0.85333rem;
  text-align: center;
}

.normal-player .bottom .operators .i-center i {
  font-size: 1.70667rem;
}

.normal-player .bottom .operators .i-right {
  text-align: left;
}

.normal-player .bottom .operators .icon-favorite {
  color: #d93f30;
}

.normal-player.normal-enter-active, .normal-player.normal-leave-active {
  transition: all .4s;
}

.normal-player.normal-enter-active .top,
.normal-player.normal-enter-active .bottom, .normal-player.normal-leave-active .top,
.normal-player.normal-leave-active .bottom {
  transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
}

.normal-player.normal-enter, .normal-player.normal-leave-to {
  opacity: 0;
}

.normal-player.normal-enter .top, .normal-player.normal-leave-to .top {
  transform: translate3d(0, -4.26667rem, 0);
}

.normal-player.normal-enter .bottom, .normal-player.normal-leave-to .bottom {
  transform: translate3d(0, 4.26667rem, 0);
}

.mini-player {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 180;
  width: 100%;
  height: 2.56rem;
  background: #333;
}

.mini-player.mini-enter-active, .mini-player.mini-leave-active {
  transition: all .4s;
}

.mini-player.mini-enter, .mini-player.mini-leave-to {
  opacity: 0;
}

.mini-player .icon {
  flex: 0 0 1.70667rem;
  width: 1.70667rem;
  padding: 0 0.42667rem 0 0.85333rem;
}

.mini-player .icon img {
  border-radius: 50%;
}

.mini-player .icon img.play {
  animation: rotate 10s linear infinite;
}

.mini-player .icon img.pause {
  animation-play-state: paused;
}

.mini-player .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  line-height: 0.85333rem;
  overflow: hidden;
}

.mini-player .text .name {
  margin-bottom: 0.08533rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.59733rem;
  color: #fff;
}

.mini-player .text .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.512rem;
  color: rgba(0, 0, 0, 0.3);
}

.mini-player .control {
  flex: 0 0 1.28rem;
  width: 1.28rem;
  padding: 0 0.42667rem;
}

.mini-player .control .icon-play-mini,
.mini-player .control .icon-pause-mini,
.mini-player .control .icon-playlist {
  font-size: 1.28rem;
  color: rgba(255, 205, 49, 0.5);
}

.mini-player .control .icon-mini {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.36533rem;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/*playlist*/
.playlist {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.playlist.list-fade-enter-active, .playlist.list-fade-leave-active {
  transition: opacity .3s;
}

.playlist.list-fade-enter-active .list-wrapper, .playlist.list-fade-leave-active .list-wrapper {
  transition: all .3s;
}

.playlist.list-fade-enter, .playlist.list-fade-leave-to {
  opacity: 0;
}

.playlist.list-fade-enter .list-wrapper, .playlist.list-fade-leave-to .list-wrapper {
  transform: translate3d(0, 100%, 0);
}

.playlist .list-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

.playlist .list-wrapper .list-header {
  position: relative;
  padding: 0.85333rem 1.28rem 0.42667rem 0.85333rem;
}

.playlist .list-wrapper .list-header .title {
  display: flex;
  align-items: center;
}

.playlist .list-wrapper .list-header .icon {
  margin-right: 0.42667rem;
  font-size: 1.28rem;
  color: rgba(255, 205, 49, 0.5);
}

.playlist .list-wrapper .list-header .text {
  flex: 1;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.5);
}

.playlist .list-wrapper .list-header .clear {
  position: relative;
}

.playlist .list-wrapper .list-header .clear:before {
  content: '';
  position: absolute;
  top: -0.42667rem;
  left: -0.42667rem;
  right: -0.42667rem;
  bottom: -0.42667rem;
}

.playlist .list-wrapper .list-header .icon-clear {
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.3);
}

.playlist .list-wrapper .list-content {
  max-height: 10.24rem;
  overflow: hidden;
}

.playlist .list-wrapper .list-content .item {
  display: flex;
  align-items: center;
  height: 1.70667rem;
  padding: 0 1.28rem 0 0.85333rem;
  overflow: hidden;
}

.playlist .list-wrapper .list-content .item.list-enter-active, .playlist .list-wrapper .list-content .item.list-leave-active {
  transition: all .1s;
}

.playlist .list-wrapper .list-content .item.list-enter, .playlist .list-wrapper .list-content .item.list-leave-to {
  height: 0;
}

.playlist .list-wrapper .list-content .current {
  flex: 0 0 0.85333rem;
  width: 0.85333rem;
  font-size: 0.512rem;
  color: rgba(255, 205, 49, 0.5);
}

.playlist .list-wrapper .list-content .text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.3);
}

.playlist .list-wrapper .list-content .like {
  position: relative;
  margin-right: 0.64rem;
  font-size: 0.512rem;
  color: rgba(255, 255, 255, 0.3);
}

.playlist .list-wrapper .list-content .like:before {
  content: '';
  position: absolute;
  top: -0.42667rem;
  left: -0.42667rem;
  right: -0.42667rem;
  bottom: -0.42667rem;
}

.playlist .list-wrapper .list-content .like .icon-favorite {
  color: #d93f30;
}

.playlist .list-wrapper .list-content .delete {
  position: relative;
  font-size: 0.512rem;
  color: #ffcd32;
}

.playlist .list-wrapper .list-content .delete:before {
  content: '';
  position: absolute;
  top: -0.42667rem;
  left: -0.42667rem;
  right: -0.42667rem;
  bottom: -0.42667rem;
}

.playlist .list-wrapper .list-operate {
  width: 5.97333rem;
  margin: 0.85333rem auto 1.28rem;
}

.playlist .list-wrapper .list-operate .add {
  display: flex;
  align-items: center;
  padding: 0.34133rem 0.68267rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4.26667rem;
  color: rgba(255, 255, 255, 0.5);
}

.playlist .list-wrapper .list-operate .icon-add {
  margin-right: 0.21333rem;
  font-size: 0.42667rem;
}

.playlist .list-wrapper .list-operate .text {
  font-size: 0.512rem;
}

.playlist .list-wrapper .list-close {
  text-align: center;
  line-height: 2.13333rem;
  background: #222;
  font-size: 0.68267rem;
  color: rgba(255, 255, 255, 0.5);
}

/*rank*/
.rank {
  position: fixed;
  top: 1.87733rem;
  left: 0;
  bottom: 0;
  width: 100%;
}

.rank .toplist {
  height: 100%;
  overflow: hidden;
}

.rank .toplist .item {
  display: flex;
  margin: 0 0.85333rem;
  padding-top: 0.85333rem;
  height: 4.26667rem;
}

.rank .toplist .item:last-child {
  padding-bottom: 0.85333rem;
}

.rank .toplist .icon {
  flex: 0 0 4.26667rem;
  width: 4.26667rem;
  height: 4.26667rem;
}

.rank .toplist .songlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.85333rem;
  height: 4.26667rem;
  overflow: hidden;
  background: #333;
  color: rgba(255, 205, 49, 0.5);
  font-size: 0.512rem;
}

.rank .toplist .song {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 26px;
}

.rank .toplist .loading-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

/*recommend*/
.recommend {
  position: fixed;
  left: 0;
  top: 3.75467rem;
  bottom: 0;
  width: 100%;
}

.recommend .recommend-content {
  height: 100%;
  overflow: hidden;
}

.recommend .recommend-content .slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.recommend .recommend-content .list-title {
  height: 2.77333rem;
  line-height: 2.77333rem;
  text-align: center;
  font-size: 0.59733rem;
  color: #ffcd32;
}

.recommend .recommend-content .item {
  display: flex;
  align-items: center;
  padding: 0 0.85333rem 0.85333rem;
}

.recommend .recommend-content .item .icon {
  flex: 0 0 2.56rem;
  width: 2.56rem;
  padding-right: 0.85333rem;
}

.recommend .recommend-content .item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  line-height: 0.85333rem;
  overflow: hidden;
  font-size: 0.59733rem;
}

.recommend .recommend-content .item .name {
  margin-bottom: 0.42667rem;
  color: #fff;
}

.recommend .recommend-content .item .desc {
  color: rgba(255, 255, 255, 0.3);
}

.recommend .loading-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

/*search*/
.search-box-wrapper {
  margin: 0.85333rem;
}

.shortcut-wrapper {
  position: fixed;
  left: 0;
  top: 7.59467rem;
  bottom: 0;
  width: 100%;
}

.shortcut-wrapper .shortcut {
  height: 100%;
  overflow: hidden;
}

.shortcut-wrapper .shortcut .hot-key {
  margin: 0 0.85333rem 0.85333rem;
}

.shortcut-wrapper .shortcut .title {
  margin-bottom: 0.85333rem;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.5);
}

.shortcut-wrapper .shortcut .item {
  display: inline-block;
  padding: 0.21333rem 0.42667rem;
  margin: 0 0.85333rem 0.42667rem 0;
  border-radius: 0.256rem;
  background: #333;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.3);
}

.shortcut-wrapper .search-history {
  position: relative;
  margin: 0 0.85333rem;
}

.shortcut-wrapper .search-history .title {
  display: flex;
  align-items: center;
  height: 1.70667rem;
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.5);
}

.shortcut-wrapper .search-history .text {
  flex: 1;
}

.shortcut-wrapper .search-history .clear {
  position: relative;
}

.shortcut-wrapper .search-history .clear:before {
  content: '';
  position: absolute;
  top: -0.42667rem;
  left: -0.42667rem;
  right: -0.42667rem;
  bottom: -0.42667rem;
}

.shortcut-wrapper .search-history .icon-clear {
  font-size: 0.59733rem;
  color: rgba(255, 255, 255, 0.3);
}

.search-result {
  position: fixed;
  top: 7.59467rem;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*singer*/
.singer {
  position: fixed;
  left: 0;
  top: 3.75467rem;
  bottom: 0;
  width: 100%;
}

/*singer-detail*/
.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s;
}

.slide-enter,
.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

/*suggest*/
.suggest {
  height: 100%;
  overflow: hidden;
}

.suggest .suggest-list {
  padding: 0 1.28rem;
}

.suggest .suggest-list .suggest-item {
  display: flex;
  align-items: center;
  padding-bottom: 0.85333rem;
}

.suggest .suggest-list .icon {
  flex: 0 0 1.28rem;
  width: 1.28rem;
}

.suggest .suggest-list .icon [class^="icon-"] {
  font-size: 0.59733rem;
  color: rgba(0, 0, 0, 0.3);
}

.suggest .suggest-list .name {
  flex: 1;
  font-size: 0.59733rem;
  color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.suggest .suggest-list .name .text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.suggest .no-result-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

/*tab*/
.tab {
  display: flex;
  height: 1.87733rem;
  line-height: 1.87733rem;
  font-size: 0.59733rem;
}

.tab .tab-item {
  flex: 1;
  text-align: center;
}

.tab .tab-item .tab-link {
  padding-bottom: 0.21333rem;
  color: rgba(255, 255, 255, 0.5);
}

.tab .tab-item.router-link-active .tab-link {
  color: #ffcd32;
  border-bottom: 0.08533rem solid #ffcd32;
}

/*top-list*/
.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

/*user-center*/
.user-center {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: #222;
}

.user-center.slide-enter-active, .user-center.slide-leave-active {
  transition: all 0.3s;
}

.user-center.slide-enter, .user-center.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

.user-center .back {
  position: absolute;
  top: 0;
  left: 0.256rem;
  z-index: 50;
}

.user-center .back .icon-back {
  display: block;
  padding: 0.42667rem;
  font-size: 0.93867rem;
  color: #ffcd32;
}

.user-center .switches-wrapper {
  margin: 0.42667rem 0 1.28rem 0;
}

.user-center .play-btn {
  box-sizing: border-box;
  width: 5.76rem;
  padding: 0.29867rem 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 4.26667rem;
  font-size: 0;
}

.user-center .play-btn .icon-play {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.256rem;
  font-size: 0.68267rem;
}

.user-center .play-btn .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.512rem;
}

.user-center .list-wrapper {
  position: absolute;
  left: 0;
  top: 4.69333rem;
  bottom: 0;
  width: 100%;
}

.user-center .list-wrapper .list-scroll {
  height: 100%;
  overflow: hidden;
}

.user-center .list-wrapper .list-scroll .list-inner {
  padding: 0.85333rem 1.28rem;
}

.user-center .no-result-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
